.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
vignettes/*_cache
vignettes/*.R
vignettes/*.html
vignettes/*_files
vignettes/.build.timestamp
vignettes/Bradypus.csv
report.html
R/knit_zoon.R
Bradypus.csv

